#view{
  background-color: var(--pink);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#img-container{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#catImg{
  width: 300px;
}

#formContainer{
  padding-top: 1rem;
  background-color: var(--white);
  border-radius: 60px 60px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 391px;
}
.titles{
  margin: 0 2rem;
  font-size: 14px;
}
.inputs{
  margin: 10px;
  outline: none;
  border: solid var(--gray);
  width: 280px;
  height: 50px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 20px;
}
#btn{
  margin: 10px;
  border:none;
  color: var(--white);
  background-color: var(--orange);
  width: 280px;
  height: 50px;
  border-radius: 30px;
  font-size: 14px;
}