section{
  margin: 10px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cards{
  margin: 10px;
  padding: 0.6rem;
  border-radius: 15px;
  width: 162px;
  height: 241px;
  background-color: var(--gray);
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  cursor:pointer;
}
.cards:hover{
  transition: 0.3s;
  background-color: var(--pink);
}
.img-container{
  background-color: var(--white);
  display: flex;
  width: 86px;
  height: 105px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
img{
  width: 60px;
  line-height: center;
}
.productName{
  font-size: 13px;
}
.price{
  font-size: 17px;
  font-weight: 600;
}


@media (min-width : 870px){
  .cards{
    margin: 20px;
  }
}