section{
  margin-top: 1rem;
  background-color: var(--pink);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
div{
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
p{
  background-color: var(--pink);
}
.fas{
  font-size: 2.2rem;
}
img{
  width: 2.2rem;
}