section{
  background-color: var(--pink);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  background-color: var(--white);
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor:pointer;
}
button:hover{
  background-color: var(--gray);
  transition: 0.3s;
}
p{
  background-color: var(--pink);
}
.fas{
  font-size: 2.2rem;
}
img{
  width: 2.2rem;
}