<section (click)="getCategory($event)">
  <div>
    <button class="electronics">
      <img class="electronics" src="../../../assets/lights.png" alt="christmas lights">
    </button>
    <p class="electronics">electronics</p>
  </div>
  <div>
    <button class="jewelery">
      <img class="jewelery" src="../../../assets/ring.png" alt="ring">
    </button>
    <p class="jewelery">jewelery</p>
  </div>
  <div>
    <button class="men's clothing">
      <img class="men's clothing" src="../../../assets/santa-claus.png" alt="santa claus">
    </button>
    <p class="men's clothing">men's</p>
  </div>
  <div>
    <button class="women's clothing">
      <img class="women's clothing" src="../../../assets/mrs-claus.png" alt="mrs claus">
    </button>
    <p class="women's clothing">women's</p>
  </div>
</section>
