section{
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;  
}

div{
  background-color: var(--gray);
  border-radius: 17px;
  width: 360px;
}
input{
  border-radius: 17px;
  padding-left: 20px;
  background-color: var(--gray);
  border: none;
  width: 310px;
  height: 38px;
  outline: none;
  font-size: 17px;
}
.fas{
  margin-left: 13px;
  background-color: var(--gray);
}