@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --pink: #FDF0E7;
  --pink-hover: #F8E6DA;
  --white: #FDFCFC;
  --orange: #F37F43;
  --gray: #EDEEF0;
  --gray-hover: #E4E6EA;
  --dark: #2E2112;
}

*{
  box-sizing: border-box;
  margin:  0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}
