@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --pink: #FDF0E7;
  --white: #FDFCFC;
  --orange: #F37F43;
}

*{
  box-sizing: border-box;
  margin:  0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
